
server/.vs/app/config/applicationhost.config
server/.vs/app/DesignTimeBuild/.dtbcache.v2
server/.vs/app/v16/.suo
server/base.db3
server/bin/Debug/net5.0/app.deps.json
server/bin/Debug/net5.0/app.dll
server/bin/Debug/net5.0/app.exe
server/bin/Debug/net5.0/app.pdb
server/bin/Debug/net5.0/app.runtimeconfig.dev.json
server/bin/Debug/net5.0/app.runtimeconfig.json
server/bin/Debug/net5.0/app.StaticWebAssets.xml
server/bin/Debug/net5.0/appsettings.Development.json
server/bin/Debug/net5.0/appsettings.json
server/bin/Debug/net5.0/base.db3
server/bin/Debug/net5.0/DocumentFormat.OpenXml.dll
server/bin/Debug/net5.0/Humanizer.dll
server/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
server/bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.Internal.dll
server/bin/Debug/net5.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
server/bin/Debug/net5.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
server/bin/Debug/net5.0/Microsoft.AspNetCore.Identity.UI.dll
server/bin/Debug/net5.0/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
server/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
server/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
server/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
server/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
server/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
server/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
server/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
server/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
server/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
server/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
server/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
server/bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Embedded.dll
server/bin/Debug/net5.0/Microsoft.Extensions.Identity.Core.dll
server/bin/Debug/net5.0/Microsoft.Extensions.Identity.Stores.dll
server/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
server/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
server/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
server/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
server/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
server/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
server/bin/Debug/net5.0/Newtonsoft.Json.dll
server/bin/Debug/net5.0/ref/app.dll
server/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
server/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
server/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
server/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
server/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
server/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
server/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
server/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
server/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
server/bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
server/bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
server/bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
server/bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
server/bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
server/bin/Debug/net5.0/SQLitePCLRaw.core.dll
server/bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
server/bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
server/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
server/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
server/bin/Debug/net5.0/System.IO.Packaging.dll
server/Migrations/20220310163453_initial.cs
server/Migrations/20220310163453_initial.Designer.cs
server/Migrations/ContextModelSnapshot.cs
server/obj/app.csproj.nuget.dgspec.json
server/obj/app.csproj.nuget.g.props
server/obj/app.csproj.nuget.g.targets
server/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
server/obj/Debug/net5.0/app.AssemblyInfo.cs
server/obj/Debug/net5.0/app.AssemblyInfoInputs.cache
server/obj/Debug/net5.0/app.assets.cache
server/obj/Debug/net5.0/app.csproj.AssemblyReference.cache
server/obj/Debug/net5.0/app.csproj.CopyComplete
server/obj/Debug/net5.0/app.csproj.CoreCompileInputs.cache
server/obj/Debug/net5.0/app.csproj.FileListAbsolute.txt
server/obj/Debug/net5.0/app.dll
server/obj/Debug/net5.0/app.GeneratedMSBuildEditorConfig.editorconfig
server/obj/Debug/net5.0/app.genruntimeconfig.cache
server/obj/Debug/net5.0/app.MvcApplicationPartsAssemblyInfo.cache
server/obj/Debug/net5.0/app.MvcApplicationPartsAssemblyInfo.cs
server/obj/Debug/net5.0/app.pdb
server/obj/Debug/net5.0/app.RazorTargetAssemblyInfo.cache
server/obj/Debug/net5.0/apphost.exe
server/obj/Debug/net5.0/ref/app.dll
server/obj/Debug/net5.0/staticwebassets/app.StaticWebAssets.Manifest.cache
server/obj/Debug/net5.0/staticwebassets/app.StaticWebAssets.xml
server/obj/project.assets.json
server/obj/project.nuget.cache
server/.vs/app/config/applicationhost.config
server/.vs/app/DesignTimeBuild/.dtbcache.v2
server/.vs/app/v16/.suo
server/.vs/app/v16/.suo
